<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
      {% block title %}
      首页_个人博客
      {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.easyfader.min.js"></script>
  <script src="/static/js/scrollReveal.js"></script>
  <script src="/static/js/common.js"></script>
  {% block style %}
  {% endblock %}
</head>

<body>
  <a name="top"></a>
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/index">个人博客</a></h1>
        <li><a href="/index">网站首页</a> </li>
        <li><a href="/list">文章列表</a>
          <ul class="sub-nav">
            {% for cate in params.categories %}
              <li>
                <a href="/list?id={{cate.id}}">
                  {{cate.cate_name}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/photo">我的相册</a>
        </li>
        <li><a href="/time">时间轴</a> </li>
        <li><a href="/gbook">留言</a> </li>
        <li><a href="/about">关于我</a> </li>
        <li><a href="/release">发表博客</a></li>
      </nav>
    </div>
    {% if not params.user %}
      <a href="/login" id="login" target="_blank">登录</a>
      <a href="/register" id="register" target="_blank">注册</a>
    {% else %}
      <a id="login">欢迎:{{params.user.uname}}</a>
      <a id="register" href="/logout">退出</a>
    {% endif %}
    <!--menu end-->
  </header>

  {% block pagebg %}
  {% endblock %}
  {% block noextends %}
  <article>
    <!--banner begin-->
    {% block picsbox %}
    <div class="picsbox">
      <div class="banner">
        <div id="banner" class="fader">
          {% for topic in params.topics[0:3] %}
          <li class="slide">
            <a href="/info?id={{topic.id}}" target="_blank">
              <img src="/static/{{topic.images}}">
              <span class="imginfo">
                {{topic.title}}
              </span>
            </a>
          </li>
          {% endfor %}
          <div class="fader_controls">
            <div class="page prev" data-target="prev">&lsaquo;</div>
            <div class="page next" data-target="next">&rsaquo;</div>
            <ul class="pager_list">
            </ul>
          </div>
        </div>
      </div>
      <!--banner end-->
      <div class="toppic">
        {% for topic in params.topics[3:5] %}
        <li>
          <a href="/info?id={{topic.id}}" target="_blank">
            <i><img src="/static/{{topic.images}}" alt=""></i>
            <h2>{{topic.title}}</h2>
            <span>{{topic.category.cate_name}}</span>
          </a>
        </li>
        {% endfor %} 
      </div>
    </div>
    <div class="blank"></div>
    {% endblock %}
    <!--blogsbox begin-->
    <div class="blogsbox">

      {% for topic in params.topics %}
      <div class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle">
          <a href="/info?id={{topic.id}}&like=1" target="_blank">
            {{topic.title}}
          </a>
        </h3>
        {% if topic.images %}
        <span
          {% if loop.index % 2 == 0 %}
            class="blogpic"
          {% else %}
            class="bigpic"
          {% endif %}
        >
          <a href="/info?id={{topic.id}}" title="">
            <img src="/static/{{topic.images}}" alt="">
          </a>
        </span>
        {% endif %}
        <p class="blogtext">
          {{topic.content|truncate(200)}}
        </p>
        <div class="bloginfo">
          <ul>
            <li class="author">
              <a href="info.html">
                {{topic.user.uname}}
              </a>
            </li>
            <li class="lmname">
              <a href="info.html">
                {{topic.category.cate_name}}
              </a>
            </li>
            <li class="timer">
              {{topic.pub_date.strftime("%Y-%m-%d")}}
            </li>
            <li class="view">
              <span>{{topic.read_num}}</span>已阅读
            </li>
            <li class="like">
              {{topic.voke_users.count()}}
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--blogsbox end-->
    <div class="sidebar">
      <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
          <li> <i><img src="/static/images/banner03.jpg"></i>
            <p>
              {% if params.spec_reco %}
                {{params.spec_reco[0].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
         <li> <i><img src="/static/images/b04.jpg"></i>
            <p>
              {% if params.spec_reco[1] %}
                {{params.spec_reco[1].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
          <li> <i><img src="/static/images/b05.jpg"></i>
            <p>
              {% if params.spec_reco[2] %}
                {{params.spec_reco[2].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        <ul class="tjpic">
          <i><img src="/static/images/toppic01.jpg"></i>
          <p>
            {% if params.reco %}
              <a href="/info?id={{params.reco[0].id}}">{{params.reco[0].title}}</a></p>
            {% else %}
              <a href="#">无推荐文章</a>
            {% endif %}
        </ul>
        <ul class="sidenews">
          <li> <i><img src="/static/images/toppic01.jpg"></i>
            <p>
              {% if params.reco[1] %}
                <a href="/info?id={{params.reco[1].id}}">{{params.reco[1].title}}</a>
                <span>{{params.reco[1].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/toppic02.jpg"></i>
            <p>
              {% if params.reco[2] %}
                <a href="/info?id={{params.reco[2].id}}">{{params.reco[2].title}}</a>
                <span>{{params.reco[2].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/v1.jpg"></i>
            <p>
              {% if params.reco[3] %}
                <a href="/info?id={{params.reco[3].id}}">{{params.reco[3].title}}</a>
                <span>{{params.reco[3].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/v2.jpg"></i>
            <p>
              {% if params.reco[4] %}
                <a href="/info?id={{params.reco[4].id}}">{{params.reco[4].title}}</a>
                <span>{{params.reco[4].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">干货好文</h2>
        <ul class="tjpic">
          <i><img src="/static/{{params.liketopics[0].images}}" alt=""></i>
          <p><a href="/info?id={{params.liketopics[0].id}}">{{params.liketopics[0].title}}</a></p>
        </ul>
        <ul class="sidenews">
          {% for like in params.liketopics[1:] %}
            <li><i><img src="/static/{{like.images}}" alt=""></i>
                <p><a href="/info?id={{like.id}}">{{like.title}}</a></p>
              {% if params.liketopics[1:0] %}
              <span>{{like.pub_date.strftime("%Y-%m-%d")}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
          <li><a href="#" target="_blank">python社区</a></li>
          <li><a href="#" target="_blank">Microsoft微软中国</a></li>
          <li><a href="#" target="_blank">极客世界</a></li>
        </ul>
      </div>
    </div>
  </article>
  <footer id="footer">
    <p>Design by <a href=# target="_blank">个人博客</a> <a href="#">备XXXXXXXXX号-1</a></p>
  </footer>
  <a href="#top" class="cd-top">Top</a>
{% endblock %}
</body>

</html>