<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>详情页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/static/css/comments.css">
	<link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/index.css" rel="stylesheet">
	<link href="/static/css/m.css" rel="stylesheet">
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.easyfader.min.js"></script>
	<script src="/static/js/scrollReveal.js"></script>
	<script src="/static/js/wangEditor.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/xcConfirm.js"></script>
	<script src="/static/js/jquery-1.11.3.js"></script>
	<script src="/static/js/info.js"></script>
</head>

<body>
	 <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/index">个人博客</a></h1>
        <li><a href="/index">网站首页</a> </li>
        <li><a href="/list">文章列表</a>
          <ul class="sub-nav">
            {% for cate in params.categories %}
              <li>
                <a href="/list?id={{cate.id}}">
                  {{cate.cate_name}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/photo">我的相册</a>
        </li>
        <li><a href="/time">时间轴</a> </li>
        <li><a href="/gbook">留言</a> </li>
        <li><a href="/about">关于我</a> </li>
        <li><a href="/release">发表博客</a></li>
      </nav>
    </div>
    {% if not params.user %}
      <a href="/login" id="login" target="_blank">登录</a>
      <a href="/register" id="register" target="_blank">注册</a>
    {% else %}
      <a id="login">欢迎:{{params.user.uname}}</a>
      <a id="register" href="/logout">退出</a>
    {% endif %}
    <!--menu end-->
  </header>


	<article>
		<h1 class="t_nav">
			<p class="n1">文章</p>
		</h1>
		<div class="infosbox">
			<div class="newsview">
				<h3 class="news_title">{{params.topic.title}}</h3>
				<div class="bloginfo">
					<ul>
						<li class="author"><a href="#">{{params.topic.user.uname}}</a></li>
						<li class="lmname"><a href="#">{{params.topic.category.cate_name}}</a></li>
						<li class="timer">{{params.topic.pub_date.strftime("%Y-%m-%d")}}</li>
						<li class="view">{{params.topic.read_num}}</li>
						<li class="like">{{params.topic.voke_users.count()}}</li>
					</ul>
				</div>
				<div class="tags"><a href="#" target="_blank">{{params.topic.blogType.type_name}}</a></div>
				<div class="news_con">
					{{params.topic.content}}
				</div>
			</div>
			<div class="share">
				<p class="diggit">
					<a href="/info?id={{params.topic.id}}&like=1">
						很赞哦！ 
					</a>(<b id="diggnum">{{params.likes}}</b>)
				</p>
				<p class="dasbox"><a href="#" class="dashang" title="打赏，支持一下">打赏本站</a></p>
				<div class="hide_box"></div>
			</div>
			<div class="nextinfo">
				<p>
					{% if params.prevTopic %}
					上一篇：<a href="/info?id={{params.prevTopic.id}}">{{params.prevTopic.title}}</a></p>
				{% else %}
				<p><a href="/list">返回列表</a>
				{% endif %}
				</p>
				<p>
					{% if params.nextTopic %}
					下一篇：
					<a href="/info?id={{params.nextTopic.id}}">{{params.nextTopic.title}}</a></p>
				{% else %}
				<p><a href="/list">返回列表</a>
				{% endif %}
				</p>

			</div>
			<div class="news_pl">
				<h2>文章评论</h2>
				<ul>
					<div class="gbko">

						<div class="l_box f_l" style="padding:20px;">
							<div class="commentstitle">
								<h3 id="comments">到现在<span class="commentsnumber">有{{params.topic.replies.count()}}条评论</span></h3>
							</div>

							{% if params.replies %}
							{% for reply in params.replies %}
							<ol class="commentlist">
								<li>
									<div class="top"><a href='#'  class='url'>{{reply.user.uname}}</a>
										<span class="time"> @
											<a href="#" title="">{{reply.reply_time}}</a>
											<a href="#" class="replyComment">回复</a>
										</span>
									</div>
									<div class="body">
										<p>{{reply.content}}</p>
									</div>
								</li>
							</ol>
							{% endfor %}
							{% else %}
								<ol class="commentlist">
								<li>
									<div class="top"><a href='#'  class='url'></a>
										<span class="time">
											<a href="#" title=""></a>
											<a href="#" class="replyComment"></a>
										</span>
									</div>
									<div class="body">
										<p>此处没有任何评论</p>
									</div>
								</li>
							</ol>
							{% endif %}


							{% if params.user %}
							<div id="commentform">
								<h3 id="respond">在这添加你的评论！</h3>
								<form action="/info" method="post">
									<textarea style="margin:8px 0 0 12px" name="comment" cols="65" rows="10"></textarea>
									<br>
									<p>
										<input id="id_article" name="article" type="hidden" value="1">
										<input type="hidden" name="topicID" value="{{params.topic.id}}">
										<input name="submit" type="submit" id="submit" tabindex="5" value="提交" class="button" />
									</p>
								</form>
							</div>
							{% else%}
								<a href="/login">登录后才可以发表评论 >>></a>
							{% endif %}
						</div>

					</div>
				</ul>
			</div>
		</div>
		<div class="sidebar">
      <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
          <li> <i><img src="/static/images/banner03.jpg"></i>
            <p>
              {% if params.spec_reco %}
                {{params.spec_reco[0].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
         <li> <i><img src="/static/images/b04.jpg"></i>
            <p>
              {% if params.spec_reco[1] %}
                {{params.spec_reco[1].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
          <li> <i><img src="/static/images/b05.jpg"></i>
            <p>
              {% if params.spec_reco[2] %}
                {{params.spec_reco[2].title}}
              {% else %}
                无特别推荐
              {% endif %}
              <span><a href="/info?id={{params.spec_reco.id}}">阅读</a></span>
            </p>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        <ul class="tjpic">
          <i><img src="/static/images/toppic01.jpg"></i>
          <p>
            {% if params.reco %}
              <a href="/info?id={{params.reco[0].id}}">{{params.reco[0].title}}</a></p>
            {% else %}
              <a href="#">无推荐文章</a>
            {% endif %}
        </ul>
        <ul class="sidenews">
          <li> <i><img src="/static/images/toppic01.jpg"></i>
            <p>
              {% if params.reco[1] %}
                <a href="/info?id={{params.reco[1].id}}">{{params.reco[1].title}}</a>
                <span>{{params.reco[1].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/toppic02.jpg"></i>
            <p>
              {% if params.reco[2] %}
                <a href="/info?id={{params.reco[2].id}}">{{params.reco[2].title}}</a>
                <span>{{params.reco[2].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/v1.jpg"></i>
            <p>
              {% if params.reco[3] %}
                <a href="/info?id={{params.reco[3].id}}">{{params.reco[3].title}}</a>
                <span>{{params.reco[3].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
          <li> <i><img src="/static/images/v2.jpg"></i>
            <p>
              {% if params.reco[4] %}
                <a href="/info?id={{params.reco[4].id}}">{{params.reco[4].title}}</a>
                <span>{{params.reco[4].pub_date.strftime("%Y-%m-%d")}}</span>
              {% else %}
                <a href="#">无推荐文章</a>
              {% endif %}
            </p>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">干货好文</h2>
        <ul class="tjpic">
          <i><img src="/static/{{params.liketopics[0].images}}" alt=""></i>
          <p><a href="/info?id={{params.liketopics[0].id}}">{{params.liketopics[0].title}}</a></p>
        </ul>
        <ul class="sidenews">
          {% for like in params.liketopics[1:] %}
            <li><i><img src="/static/{{like.images}}" alt=""></i>
                <p><a href="/info?id={{like.id}}">{{like.title}}</a></p>
              {% if params.liketopics[1:0] %}
              <span>{{like.pub_date.strftime("%Y-%m-%d")}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
          <li><a href="#" target="_blank">python社区</a></li>
          <li><a href="#" target="_blank">Microsoft微软中国</a></li>
          <li><a href="#" target="_blank">极客世界</a></li>
        </ul>
      </div>
    </div></div>
	</article>
	<footer id="footer">
		<p>Design by <a href=# target="_blank">皮爷の博客</a> <a href="#">备XXXXXXXX号-1</a></p>
	</footer>
	<a href="#" class="cd-top">Top</a>
	<script>
		var E = window.wangEditor
		var editor = new E('#editor')
		// 或者 var editor = new E( document.getElementById('editor') )
		editor.customConfig.menus = [
			'head', // 标题
			'bold', // 粗体
			'fontSize', // 字号
			'fontName', // 字体
			'italic', // 斜体
			'underline', // 下划线
			'strikeThrough', // 删除线
			'foreColor', // 文字颜色
			'backColor', // 背景颜色
			'link', // 插入链接
			'list', // 列表
			'justify', // 对齐方式
			'quote', // 引用
			'emoticon', // 表情
			'image', // 插入图片
			'table', // 表格
			'video', // 插入视频
			'undo', // 撤销
			'redo' // 重复
		]
		editor.create()
	</script>
</body>

</html>