<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>详情页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/static/css/comments.css">
	<link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/index.css" rel="stylesheet">
	<link href="/static/css/m.css" rel="stylesheet">
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.easyfader.min.js"></script>
	<script src="/static/js/scrollReveal.js"></script>
	<script src="/static/js/wangEditor.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/xcConfirm.js"></script>
	<script src="/static/js/jquery-1.11.3.js"></script>
	<script src="/static/js/info.js"></script>
</head>

<body>
	 <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/index">个人博客</a></h1>
        <li><a href="/index">网站首页</a> </li>
        <li><a href="/list">文章列表</a>
          <ul class="sub-nav">
            {% for cate in params.categories %}
              <li>
                <a href="/list?id={{cate.id}}">
                  {{cate.cate_name}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/photo">我的相册</a>
        </li>
        <li><a href="/time">时间轴</a> </li>
        <li><a href="/gbook">留言</a> </li>
        <li><a href="/about">关于我</a> </li>
        <li><a href="/release">发表博客</a></li>
      </nav>
    </div>
    {% if not params.user %}
      <a href="/login" id="login" target="_blank">登录</a>
      <a href="/register" id="register" target="_blank">注册</a>
    {% else %}
      <a id="login">欢迎:{{params.user.uname}}</a>
      <a id="register" href="/logout">退出</a>
    {% endif %}
    <!--menu end-->
  </header>


	<article>
		<h1 class="t_nav">
			<p class="n1">文章</p>
		</h1>
		<div class="infosbox">
			<div class="newsview">
				<h3 class="news_title">{{params.topic.title}}</h3>
				<div class="bloginfo">
					<ul>
						<li class="author"><a href="#">{{params.topic.user.uname}}</a></li>
						<li class="lmname"><a href="#">{{params.topic.category.cate_name}}</a></li>
						<li class="timer">{{params.topic.pub_date.strftime("%Y-%m-%d")}}</li>
						<li class="view">{{params.topic.read_num}}</li>
						<li class="like">{{params.topic.voke_users.count()}}</li>
					</ul>
				</div>
				<div class="tags"><a href="#" target="_blank">{{params.topic.blogType.type_name}}</a></div>
				<div class="news_con">
					{{params.topic.content}}
				</div>
			</div>
			<div class="share">
				<p class="diggit">
					<a href="/info?id={{params.topic.id}}&like=1">
						很赞哦！ 
					</a>(<b id="diggnum">{{params.voke_num}}</b>)
				</p>
				<p class="dasbox"><a href="#" class="dashang" title="打赏，支持一下">打赏本站</a></p>
				<div class="hide_box"></div>
			</div>
			<div class="nextinfo">
				<p>
					{% if params.prevTopic %}
					上一篇：<a href="/info?id={{params.prevTopic.id}}">{{params.prevTopic.title}}</a></p>
				{% else %}
				<p><a href="/list">返回列表</a>
				{% endif %}
				</p>
				<p>
					{% if params.nextTopic %}
					下一篇：
					<a href="/info?id={{params.nextTopic.id}}">{{params.nextTopic.title}}</a></p>
				{% else %}
				<p><a href="/list">返回列表</a>
				{% endif %}
				</p>

			</div>
			<div class="news_pl">
				<h2>文章评论</h2>
				<ul>
					<div class="gbko">

						<div class="l_box f_l" style="padding:20px;">
							<div class="commentstitle">
								<h3 id="comments">到现在<span class="commentsnumber">有{{params.topic.replies.count()}}条评论</span></h3>
							</div>

							{% if params.replies %}
							{% for reply in params.replies %}
							<ol class="commentlist">
								<li>
									<div class="top"><a href='#'  class='url'>{{reply.user.uname}}</a>
										<span class="time"> @
											<a href="#" title="">{{reply.reply_time}}</a>
											<a href="#" class="replyComment">回复</a>
										</span>
									</div>
									<div class="body">
										<p>{{reply.content}}</p>
									</div>
								</li>
							</ol>
							{% endfor %}
							{% else %}
								<ol class="commentlist">
								<li>
									<div class="top"><a href='#'  class='url'></a>
										<span class="time">
											<a href="#" title=""></a>
											<a href="#" class="replyComment"></a>
										</span>
									</div>
									<div class="body">
										<p>此处没有任何评论</p>
									</div>
								</li>
							</ol>
							{% endif %}


							{% if params.user and params.user.ID!=1 %}
							<div id="commentform">
								<h3 id="respond">在这添加你的评论！</h3>
								<form action="/info" method="post">
									<textarea style="margin:8px 0 0 12px" name="comment" cols="65" rows="10"></textarea>
									<br>
									<p>
										<input id="id_article" name="article" type="hidden" value="1">
										<input type="hidden" name="topicID" value="{{params.topic.id}}">
										<input name="submit" type="submit" id="submit" tabindex="5" value="提交" class="button" />
									</p>
								</form>
							</div>
							{% elif params.user and params.user.ID==1 %}
							{% else %}
								<h4>请先登录再发表评论</h4>
							{% endif %}

						</div>

					</div>
				</ul>
			</div>
		</div>
		<div class="sidebar">
      <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
          {% if params.spec_reco %}
            {% for spco in params.spec_reco %}
              <li> <i><img src="/static/{{spco.images}}"></i>
                <p>{{spco.title}}<span><a href="/info?id={{spco.id}}">阅读</a></span></p>
              </li>
            {% endfor %}
          {% else %}
              <li> <i><img src="/static/images/404.jpg"></i>
                <p><span><a href="#">暂无推荐</a></span></p>
              </li>
          {% endif %}
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        {% if not params.reco %}
            <ul class="tjpic">
              <i><img src="/static/images/404.jpg"></i>
              <p>
                  <a href="#">无推荐文章</a>
              </p>
            </ul>
        {% else %}
        <ul class="tjpic">
              <i><img src="/static/{{params.reco[0].images}}"></i>
              <p>
                  <a href="/info?id={{params.reco[0].id}}">{{params.reco[0].title}}</a></p>
        </ul>
        <ul class="sidenews">
        {% for re in params.reco[1:] %}
          <li> <i><img src="/static/{{re.images}}"></i>
            <p>
                <a href="/info?id={{re.id}}">{{re.title}}</a>
                <span>{{re.pub_date.strftime("%Y-%m-%d")}}</span>
            </p>
          </li>
        {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="tuijian">
        <h2 class="hometitle">干货好文</h2>
        {% if not params.liketopics %}
            <ul class="tjpic">
              <i><img src="/static/images/404.jpg" alt=""></i>
              <p><a href="#">暂无文章</a></p>
            </ul>
        {% else %}
           {% for lt in params.liketopics %}
              {% if loop.index == 1 %}
                <ul class="tjpic">
                  <i><img src="/static/{{lt.images}}" alt=""></i>
                  <p><a href="/info?id={{lt.id}}">{{lt.title}}</a></p>
                </ul>
              {% else%}
                <ul class="sidenews">
                    <li><i><img src="/static/{{lt.images}}" alt=""></i>
                        <p><a href="/info?id={{lt.id}}">{{lt.title}}</a></p>
                      <span>{{lt.pub_date.strftime("%Y-%m-%d")}}</span>
                    </li>
                </ul>
              {% endif %}
           {% endfor %}
        {% endif %}
      </div>
      <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">python社区</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">Microsoft微软中国</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">极客世界</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">CSDN</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">慕课网</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">IBM</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">万维网中国</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">百度</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">英特尔</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">华为</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">APPLE</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">阿里巴巴</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">携程</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">腾讯</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">w3cschool</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">Bilibili</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">爱奇艺</a></li>
          <li><a href="#" target="_blank" style="color:#2816C6;text-decoration: underline">站长之家</a></li>
        </ul>
      </div>
    </div>
	</article>
	<footer id="footer">
		<p>Design by <a href=# target="_blank">Ethanの博客</a> <a href="#">备XXXXXXXX号-1</a></p>
	</footer>
	<a href="#" class="cd-top">Top</a>
</body>

</html>